header {
    display: flex;
    height: 60px;
    padding: 0 20px;
    background-color: #000;
    border-top: 1px solid var(--gold);
}

#header-logo {
    height: 50%;
    margin: auto 0;
}

#header-image {
    height: 100%;
}