header {
    display: flex;
    height: 60px;
    padding: 0 20px;
    background-color: #000;
    border-top: 1px solid var(--gold);

    justify-content: space-between;
    align-items: center;
}

#header-logo {
    height: 50%;
    margin: auto 0;
}

#header-image {
    height: 100%;
}

#header-navigation {
    display: flex;
    color: #fff;
    text-align: center;
    gap: 20px;
}
#header-navigation p {
    font-family: 'Montserrat', sans-serif;
}