:root {
    --gold: #ffa500;
    --red: #f00;
}

html, body {
    padding: 0;
    margin: 0;
}

/* Site Structure */

#page-content {
    display: block;
    min-height: 90vh;
    margin: 0 auto;

    border-left: 1px solid var(--red);
    border-right: 1px solid var(--red);
}

.contained-content {
    display: block;
    width: 80%;

    margin: 0 auto;
    padding: 20px;
}
@media (max-width: 768px) {
    .contained-content {
        width: 100%;
    }
}